<style>
    .truemed-instructions-link-text {
        display: none !important;
    }

    .truemed-instructions {
        margin-top: -10px;
        display: none;
    }
    .er-iconography__custom_wrapper{
        max-width: 50%;
        margin: 0 auto;
    }
</style>
<div id="truemed-prequalify" style="font-size: 14px;" icon-height="12" data-public-id="tm_qual_h1tkr71lxl"></div>
<script src="https://truemed-public.s3.us-west-1.amazonaws.com/truemed-ads/prequal-widget.min.js" defer=""></script>
<div class="er-iconography__wrapper er-iconography__custom_wrapper mb-20 mt-30 text-center">
    <span style="font-size: 16px; cursor: pointer;"
        onclick="document.querySelector('.truemed-instructions-open').click()">HSA/FSA Eligible. <strong
            style="text-decoration:underline;">Learn&nbsp;More.</strong>
        Select&nbsp;Truemed&nbsp;at&nbsp;Checkout</span>
</div>