<span style="font-size:0; line-height:0">STAND+</span><svg roll="img" aria-hidden="true" class="icon-stand-logo" height="30" width="108" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 609 169.1">
  <defs>
    <style>
      .cls-1-stand {
        fill: #0B0A0B;
        stroke-width: 0px;
      }
    </style>
  </defs>
  <path class="cls-1-stand" d="M531.01,17.06c0,8.53-6.53,15.23-15.04,15.23s-15.12-6.7-15.12-15.23,6.71-15.05,15.12-15.05,15.04,6.7,15.04,15.05ZM504.61,17.06c0,6.7,4.83,12.02,11.45,12.02s11.19-5.32,11.19-11.93-4.74-12.11-11.28-12.11-11.36,5.41-11.36,12.02ZM513.65,24.95h-3.4v-15.05c1.34-.28,3.22-.46,5.64-.46,2.77,0,4.03.46,5.1,1.1.81.64,1.43,1.84,1.43,3.3,0,1.65-1.25,2.94-3.04,3.49v.18c1.43.55,2.24,1.65,2.68,3.67.45,2.29.72,3.21,1.07,3.76h-3.67c-.45-.55-.72-1.93-1.16-3.67-.27-1.65-1.16-2.39-3.04-2.39h-1.61v6.07h0ZM513.74,16.42h1.61c1.88,0,3.4-.64,3.4-2.2,0-1.38-.98-2.29-3.13-2.29-.89,0-1.52.09-1.88.18v4.31Z"/>
    <g>
      <path class="cls-1-stand" d="M3,124.67v-12.58l38.19-7.19v19.99c0,9.66,3.15,15.95,10.78,15.95s10.34-5.84,10.34-12.13v-6.96c0-7.64-1.57-11.68-10.11-16.85l-25.61-15.28c-16.62-9.88-22.24-21.34-22.24-38.87v-8.53C4.35,13.91,26.81,2,51.98,2c28.98,0,48.53,10.56,48.53,42.46v11.68l-37.52,6.74v-19.32c0-7.64-2.7-14.15-11.01-14.15-6.51,0-10.11,4.94-10.11,11.01v6.74c0,6.51,4.04,11.91,10.11,15.5l25.39,15.05c18.2,10.78,23.14,21.12,23.14,37.52v14.83c0,21.79-16.85,39.09-48.75,39.09-30.79,0-48.76-18.2-48.76-44.48"/>
      <polygon class="cls-1-stand" points="189.69 5.83 189.69 37.28 159.81 37.28 159.81 165.33 122.52 165.33 122.52 37.28 92.64 37.28 92.64 5.83 189.69 5.83"/>
      <path class="cls-1-stand" d="M220.47,106.02h19.09l-6.51-47.85c-.9-7.19-1.8-13.03-2.69-21.79h-.67c-.68,8.76-1.8,14.6-2.7,21.79l-6.52,47.85ZM247.65,165.33l-4.49-32.8h-26.29l-4.49,32.8h-37.52L205.19,5.83h49.65l30.55,159.5h-37.74Z"/>
      <path class="cls-1-stand" d="M285.4,165.33V5.83h39.54l21.79,64.48c2.02,7.41,4.49,15.05,6.29,22.02h.67c-.45-11.01-.67-22.02-.67-32.8V5.84h32.35v159.5h-35.5l-24.94-72.79c-2.69-8.54-5.17-16.4-6.96-24.04h-.67c.45,10.11.67,20.44.67,31.23v65.6h-32.57Z"/>
      <path class="cls-1-stand" d="M430.74,138.82h7.86c10.78,0,16.4-9.89,16.4-25.39v-57.51c0-15.95-4.72-23.59-16.4-23.59h-7.86v106.49ZM393.23,165.33V5.83h46.28c34.6,0,54.14,18.64,54.14,52.12v53.24c0,35.05-19.1,54.14-54.37,54.14h-46.05Z"/>
      <polygon class="cls-1-stand" points="569.3 38.93 538.21 44.63 538.21 72.62 504.53 72.62 504.53 98.53 538.21 98.53 538.21 132.22 569.31 126.52 569.31 98.53 603 98.53 603 72.62 569.31 72.62 569.31 38.93 569.3 38.93"/>
    </g>
</svg>