<div class="col">
  <div class="placeholder-noblocks py-30 overflow-hidden">
    <div class="d-flex justify-content-center align-items-center p-15 border border--dashed">
      <div class="d-flex flex-column text-center">
        <h3 class="mb-5"><span class="h2 mb-0 mr-10">+</span>{{ 'homepage.onboarding.no_content_title_html' | t }}</h3>
        <p class="fs-lg mb-0">{% if message %}{{ message | t }}{% else %}{{ 'homepage.onboarding.no_content_message.default' | t }}{% endif %}</p>
      </div>
    </div>
  </div>
</div>