<div class="popup-size-guide position-relative py-30 px-15" data-popup-content>
    <i class="popup-size-guide__close position-absolute cursor-pointer" data-js-popup-close>{% render 'icon-theme-164' %}</i>
    <div class="popup-size-guide__content mx-auto" data-popup-size-guide-content>
        <div class="rte">
            {%- if product.metafields.sizeguide.html and product.metafields.sizeguide.html != 'hide' -%}
                {%- assign title = pages[product.metafields.sizeguide.html].title -%}
                <h1 class="page__title text-center">
                    {%- if settings.language_enable and title contains '|' -%}
                        <span class="lang1">{{ title | split: '|' | first }}</span>
                        <span class="lang2">{{ title | split: '|' | last }}</span>
                    {%- else -%}
                        {{ title }}
                    {%- endif -%}
                  </h1>
                {% include 'parse-page-html-content' with page_content: product.metafields.sizeguide.html %}
            {%- else -%}
                {% include 'parse-page-html-content' with default_page: 'include-popup-size-guide' page_content: settings.product_info_size_guide_page_content %}
            {%- endif -%}
        </div>
    </div>
</div>