<div class="popup-quick-view position-relative px-15 pt-50 pb-25 pt-lg-30 overflow-hidden" data-popup-content>
    <i class="popup-quick-view__close position-absolute cursor-pointer" data-js-popup-close>{% render 'icon-theme-164' %}</i>
    <div class="popup-quick-view__content mx-auto" data-js-quick-view></div>
</div>