<div class="popup-services py-25 px-20" data-popup-content>
    <i class="popup-services__close position-absolute top-0 right-0 mt-25 mr-25 cursor-pointer" data-js-popup-close>{% render 'icon-theme-164' %}</i>
    {% include 'parse-page-html-content' with default_page: 'include-popup-services' page_content: settings.services_popup_page_content %}
</div>