<div class="preloader js-preloader">
    <div class="preloader__bg" data-js-preloader-bg></div>
    <div class="preloader__spinner" data-js-preloader-spinner>
        {%- if settings.layout_preloader_image != blank -%}
            {% capture image_size %}{{ settings.layout_preloader_image_size }}x{% endcapture %}
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="{{ settings.layout_preloader_image | img_url: image_size }}" alt="{{ settings.layout_preloader_image.alt | default: 'Pre-loader' }}">
        {%- else -%}
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="{{ 'shella-preloader.svg' | asset_url }}" width="80" height="80" alt="Pre-loader">
        {%- endif -%}
    </div>
</div>