<div class="label label--out-stock mb-3 mr-3 text-nowrap{% if available %} d-none-important{% endif %}" data-js-product-label-out-stock>{{ 'products.product.label.out_stock' | t }}</div>
{%- if available == false -%}
    {%- assign has_labels = true -%}
{%- endif -%}