 <div class="label label--in-stock mb-3 mr-3 text-nowrap{% if available == false or variant_pre_order %} d-none-important{% endif %}" data-js-product-label-in-stock>{{ 'products.product.label.in_stock' | t }}</div>
{%- if available and variant_pre_order != true -%}
    {%- assign has_labels = true -%}
{%- endif -%}