{%- if cpi.size > 1 -%}
    <div class="product-images-navigation d-flex">
        <span class="d-flex flex-center mr-3 rounded-circle cursor-pointer" data-js-product-images-navigation="prev"{% if cpi.first.id == image.id %} data-disabled="disabled"{% endif %}><i class="mr-2">{% render 'icon-theme-006' %}</i></span>
        <span class="d-flex flex-center rounded-circle cursor-pointer" data-js-product-images-navigation="next"{% if cpi.last.id == image.id %} data-disabled="disabled"{% endif %}><i class="ml-3">{% render 'icon-theme-007' %}</i></span>
    </div>
{%- endif -%}