<style>
    /* Infinite scroll text */
  .marquee {
    /* background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDk4LjUgOTMuMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KIDxwb2x5Z29uIGNsYXNzPSJzdGFuZC1wbHVzLWljb24iIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01MDQuNSAtMzguOSkiIHBvaW50cz0iNTY5LjMgMzguOSA1MzguMiA0NC42IDUzOC4yIDcyLjYgNTA0LjUgNzIuNiA1MDQuNSA5OC41IDUzOC4yIDk4LjUgNTM4LjIgMTMyLjIgNTY5LjMgMTI2LjUgNTY5LjMgOTguNSA2MDMgOTguNSA2MDMgNzIuNiA1NjkuMyA3Mi42Ii8+Cjwvc3ZnPgo=") no-repeat left center;
    padding: 0 0 0 13px;
    color: black; */
    /* line-height: var(--body-line-height); */
  }
  #animated-text-strip{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;
    background-color: #e8e8e8;
    padding: 3vw 0;
  }
  #animated-text-strip .marquee {
    white-space: nowrap;
    animation: marquee 15s linear infinite;
    max-width: none;
    font-size: clamp(15px,1.5vw, 1.5vw);
    font-style: italic;
  }
  #animated-text-strip .marquee svg {
    height: clamp(10px,1.2vw,1.2vw);
    padding: 0px 25px 0px 25px;
  }
</style>
<div id="animated-text-strip">
    <span class="marquee"><span>SHOCK ABSORBENT</span><span>{% render: "icon-stand-plus-svg" %}</span><span>SLIP-RESISTANT</span><span>{% render: "icon-stand-plus-svg" %}</span><span>FLUID RESISTANT</span><span>{% render: "icon-stand-plus-svg" %}</span><span>ANTIMICROBIAL</span><span>{% render: "icon-stand-plus-svg" %}</span><span>EASY TO CLEAN</span><span>{% render: "icon-stand-plus-svg" %}</span></span>
    <span class="marquee"><span>SHOCK ABSORBENT</span><span>{% render: "icon-stand-plus-svg" %}</span><span>SLIP-RESISTANT</span><span>{% render: "icon-stand-plus-svg" %}</span><span>FLUID RESISTANT</span><span>{% render: "icon-stand-plus-svg" %}</span><span>ANTIMICROBIAL</span><span>{% render: "icon-stand-plus-svg" %}</span><span>EASY TO CLEAN</span><span>{% render: "icon-stand-plus-svg" %}</span></span>
    <span class="marquee"><span>SHOCK ABSORBENT</span><span>{% render: "icon-stand-plus-svg" %}</span><span>SLIP-RESISTANT</span><span>{% render: "icon-stand-plus-svg" %}</span><span>FLUID RESISTANT</span><span>{% render: "icon-stand-plus-svg" %}</span><span>ANTIMICROBIAL</span><span>{% render: "icon-stand-plus-svg" %}</span><span>EASY TO CLEAN</span><span>{% render: "icon-stand-plus-svg" %}</span></span>
    <span class="marquee"><span>SHOCK ABSORBENT</span><span>{% render: "icon-stand-plus-svg" %}</span><span>SLIP-RESISTANT</span><span>{% render: "icon-stand-plus-svg" %}</span><span>FLUID RESISTANT</span><span>{% render: "icon-stand-plus-svg" %}</span><span>ANTIMICROBIAL</span><span>{% render: "icon-stand-plus-svg" %}</span><span>EASY TO CLEAN</span><span>{% render: "icon-stand-plus-svg" %}</span></span>
</div>