<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"{% if settings.layout_enable_rtl %} dir="rtl"{% endif %}> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"{% if settings.layout_enable_rtl %} dir="rtl"{% endif %}> <!--<![endif]-->
<head>
  {% capture get_content_for_header %}{{ content_for_header }}{% endcapture %}
  {% include 'head' %}
</head>
<body{% render 'layout-get-body-attributes' %}>
{% include 'layout-get-includes-start' %}
{% include 'password-page-header' %}
<main role="main" id="MainContent">
  <div class="container">
    {{ content_for_layout }}
  </div>
</main>
{% section 'password-page-footer' %}
{% include 'popups' %}
{% include 'layout-get-includes-end' %}
</body>
</html>


