<div class="container">
    <div class="container container--sm">
        {%- if section.settings.title != blank -%}
            <h2 class="h4 brands__title home-section-title mb-30 text-center">{{ section.settings.title }}</h2>
        {%- endif -%}
        {%- for block in section.blocks -%}
            <div class="faqs border-top{% if forloop.last %} border-bottom{% endif %}" data-js-accordion="all">
                <h2 class="faqs__head h5 d-flex align-items-center py-10 mb-0 cursor-pointer{% if block.settings.is_open %} open{% endif %}" data-js-accordion-button><span class="mr-15">{{ block.settings.question }}</span> <i class="faqs__cross ml-auto">{% render 'icon-theme-190' %}</i> </h2>
                <div{% unless block.settings.is_open %} class="d-none"{% endunless %} data-js-accordion-content>
                    <div class="rte pt-10 pb-30">
                        {%- case forloop.index -%}
                            {%- when 2 %}{% assign faqs_default_page = 'include-faqs-answer-2' -%}
                            {%- when 3 %}{% assign faqs_default_page = 'include-faqs-answer-3' -%}
                            {%- else %}{% assign faqs_default_page = 'include-faqs-answer' -%}
                        {%- endcase -%}
                        {% include 'parse-page-html-content' with default_page: faqs_default_page page_content: block.settings.page_content html: block.settings.answer %}
                    </div>
                </div>
            </div>
        {%- endfor -%}
    </div>
</div>


{% schema %}
{
    "name": "FAQs",
    "settings": [
        {
            "type": "header",
            "content": "Title"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
      ],
    "blocks": [
        {
            "type": "section",
            "name": "Section",
            "settings": [
                {
                    "type": "text",
                    "id": "question",
                    "label": "Question",
                    "default": "QUESTION"
                },
                {
                    "type": "page",
                    "id": "page_content",
                    "label": "Page content for the answer",
                    "info": "Default page: 'Include FAQs Answer'"
                },
{
"type": "paragraph",
"content": "OR ↓"
},
                {
                    "type": "textarea",
                    "id": "answer",
                    "label": "Answer"
                },
                {
                    "type": "checkbox",
                    "id": "is_open",
                    "label": "Is open",
                    "default": true
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "FAQs",
            "category": "3) Static content"
        }
    ]
}
{% endschema %}