

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-495296797544022915.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-495296797544022915.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-495296797544022915.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-495296797544022915.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-495296797544022915.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-495296797544022915.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-495296797544022915.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-495296797544022915.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-495296797544022915.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-495296797544022915.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-495296797544022915.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-495296797544022915.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-495296797544022915.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-495296797544022915.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-495296797544022915.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-495296797544022915.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-495296797544022915.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-495296797544022915.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-495296797544022915.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-495296797544022915.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-495296797544022915.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-495296797544022915.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-495296797544022915.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-495296797544022915.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-495296797544022915.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-495296797544022915.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-495296797544022915.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-495296797544022915.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-495296797544022915.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-495296797544022915 .gp-relative{position:relative}.gps-495296797544022915 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-495296797544022915 .gp-mb-0{margin-bottom:0}.gps-495296797544022915 .gp-flex{display:flex}.gps-495296797544022915 .gp-grid{display:grid}.gps-495296797544022915 .\!gp-hidden{display:none!important}.gps-495296797544022915 .gp-hidden{display:none}.gps-495296797544022915 .gp-max-w-full{max-width:100%}.gps-495296797544022915 .gp-flex-col{flex-direction:column}.gps-495296797544022915 .gp-gap-y-0{row-gap:0}.gps-495296797544022915 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-495296797544022915 .gp-duration-200{transition-duration:.2s}.gps-495296797544022915 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-495296797544022915 .tablet\:\!gp-hidden{display:none!important}.gps-495296797544022915 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-495296797544022915 .mobile\:\!gp-hidden{display:none!important}.gps-495296797544022915 .mobile\:gp-hidden{display:none}}.gps-495296797544022915 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="guVZaHpF8N" data-id="guVZaHpF8N"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guVZaHpF8N avenir-next gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gONLWNwug4 gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 0",
    "tag": "section",
    "class": "gps-495296797544022915 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/weargales/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=494575770312639605&sectionId=495296797544022915)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
