

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-494575862637659011.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-494575862637659011.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-494575862637659011.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-494575862637659011.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-494575862637659011.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-494575862637659011.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-494575862637659011.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-494575862637659011.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-494575862637659011.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-494575862637659011.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-494575862637659011.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-494575862637659011.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-494575862637659011.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-494575862637659011.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-494575862637659011.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-494575862637659011.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-494575862637659011.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-494575862637659011.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-494575862637659011.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-494575862637659011.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-494575862637659011.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-494575862637659011.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-494575862637659011.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-494575862637659011.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-494575862637659011.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-494575862637659011.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-494575862637659011.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-494575862637659011.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-494575862637659011.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-494575862637659011.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-494575862637659011.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-494575862637659011.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-494575862637659011.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-494575862637659011 .gp-relative{position:relative}.gps-494575862637659011 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-494575862637659011 .gp-mb-0{margin-bottom:0}.gps-494575862637659011 .gp-flex{display:flex}.gps-494575862637659011 .gp-grid{display:grid}.gps-494575862637659011 .\!gp-hidden{display:none!important}.gps-494575862637659011 .gp-hidden{display:none}.gps-494575862637659011 .gp-max-w-full{max-width:100%}.gps-494575862637659011 .gp-flex-col{flex-direction:column}.gps-494575862637659011 .gp-gap-y-0{row-gap:0}.gps-494575862637659011 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-494575862637659011 .gp-duration-200{transition-duration:.2s}.gps-494575862637659011 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-494575862637659011 .tablet\:\!gp-hidden{display:none!important}.gps-494575862637659011 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-494575862637659011 .mobile\:\!gp-hidden{display:none!important}.gps-494575862637659011 .mobile\:gp-hidden{display:none}}.gps-494575862637659011 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g0p7un9uXa" data-id="g0p7un9uXa"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0p7un9uXa avenir-next gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdSXR8coxh gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gRAvS0kyKB programs-table"
    ><div><div class="table_overlay"></div>
<div class="table_programs">
    <table>
        <thead>
            <tr>
                <th></th>
                <th><a href="#smile-home">Plus+ Points</a></th>
                <th><a href="#insider">Insider</a></th>
                <th><a href="#ambassador">Ambassador</a></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Summary</td>
                <td>Earn rewards and discounts by signing up and completing missions.</td>
                <td>Earn commission on sales by promoting STAND+ as much or as little as desired. </td>
                <td>Earn commission, rewards, and exclusive perks by promoting STAND+ on social media.</td>
            </tr>
            <tr>
                <td>Commission</td>
                <td>Product Discounts</td>
                <td>Silver Tier</td>
                <td>Gold & Platinum Tiers</td>
            </tr>
            <tr>
                <td>Requirements</td>
                <td>None! Applicable for all.</td>
                <td>Must love STAND+! Promote unique code to friends, family & coworkers.</td>
                <td>Minimum 1,000 social followers.
            <br
            >1 feed & 1 story post per month.</td>
                
            </tr>
            <tr>
                <td></td>
                <td><a class="btn btn--primary" href="#smile-home">Start Now</a></td>
                <td><a class="btn btn--primary" href="#insider">Apply Now</a></td>
                <td><a class="promobox__btn-1 btn btn--primary" href="#ambassador">Apply Now</a></td>
            </tr>
        </tbody>
    </table>
</div></div></div>
  
      <style id="custom-css-gRAvS0kyKB">
        @media (max-width: 820px) {
    .table_overlay {
    	position: absolute;
    	top: 0;
    	right: 0;
    	width: 6%;
    	height: 100%;
    	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    	z-index: 6;
    }
    .table_programs table {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}
.table_programs {
	overflow-x: scroll;
	z-index: 2;
	position: relative;
}
.table_programs table {
    table-layout: fixed;
    width: 100%;
    max-width: 1100px !important;
    margin-right: auto;
    margin-left: auto;
    min-width: 800px;
    border: 2px solid black !important;
}
table th:first-child, table td:first-child {
	background: lightgray;
	text-align: right;
	font-weight: bold;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
	left: 0;
	width: 18%;
	min-width: 150px !important;
}
th {
    font-size: 14pt;
}
td {
    font-size: 13pt;
}
th, td {
  padding: 15px;
}
table, tr {
  border-bottom: 1px solid black !important;
  border-collapse: collapse;
}
.btn.btn--primary {
	padding-left: 15px;
	padding-right: 15px;
}

.gps li::before {
	content: none !important;
}
      </style>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-494575862637659011 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/weargales/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=494575770312639605&sectionId=494575862637659011)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
