

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-495291391874696309.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-495291391874696309.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-495291391874696309.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-495291391874696309.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-495291391874696309.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-495291391874696309.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-495291391874696309.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-495291391874696309.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-495291391874696309.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-495291391874696309.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-495291391874696309.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-495291391874696309.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-495291391874696309.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-495291391874696309.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-495291391874696309.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-495291391874696309.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-495291391874696309.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-495291391874696309.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-495291391874696309.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-495291391874696309.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-495291391874696309.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-495291391874696309.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-495291391874696309.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-495291391874696309.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-495291391874696309.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-495291391874696309.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-495291391874696309.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-495291391874696309.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-495291391874696309.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-495291391874696309.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-495291391874696309.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-495291391874696309.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-495291391874696309.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-495291391874696309.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-495291391874696309.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-495291391874696309.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-495291391874696309.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-495291391874696309.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-495291391874696309.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-495291391874696309.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-495291391874696309.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-495291391874696309.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-495291391874696309.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-495291391874696309 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-495291391874696309 .gp-relative{position:relative}.gps-495291391874696309 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-495291391874696309 .gp-mb-0{margin-bottom:0}.gps-495291391874696309 .gp-block{display:block}.gps-495291391874696309 .gp-flex{display:flex}.gps-495291391874696309 .gp-inline-flex{display:inline-flex}.gps-495291391874696309 .gp-grid{display:grid}.gps-495291391874696309 .\!gp-hidden{display:none!important}.gps-495291391874696309 .gp-hidden{display:none}.gps-495291391874696309 .gp-max-w-full{max-width:100%}.gps-495291391874696309 .gp-flex-none{flex:none}.gps-495291391874696309 .gp-flex-col{flex-direction:column}.gps-495291391874696309 .gp-items-center{align-items:center}.gps-495291391874696309 .gp-justify-start{justify-content:flex-start}.gps-495291391874696309 .gp-justify-center{justify-content:center}.gps-495291391874696309 .gp-gap-y-0{row-gap:0}.gps-495291391874696309 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-495291391874696309 .gp-duration-200{transition-duration:.2s}.gps-495291391874696309 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-495291391874696309 .tablet\:gp-block{display:block}.gps-495291391874696309 .tablet\:\!gp-hidden{display:none!important}.gps-495291391874696309 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-495291391874696309 .mobile\:gp-block{display:block}.gps-495291391874696309 .mobile\:\!gp-hidden{display:none!important}.gps-495291391874696309 .mobile\:gp-hidden{display:none}}.gps-495291391874696309 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gPc6mMnkAb" data-id="gPc6mMnkAb"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPc6mMnkAb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6fmdRwrE8 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:16px;--pt:12px;--pb:12px" class="gJ_8YVzDvn ">
      
    <div
    data-id="gJ_8YVzDvn"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#121212"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#121212;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#121212;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#121212;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 0",
    "tag": "section",
    "class": "gps-495291391874696309 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/weargales/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=494575770312639605&sectionId=495291391874696309)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
