

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-544353680694969322.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-544353680694969322.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-544353680694969322.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-544353680694969322.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-544353680694969322.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-544353680694969322.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-544353680694969322.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-544353680694969322.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-544353680694969322.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-544353680694969322.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-544353680694969322.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-544353680694969322.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-544353680694969322.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-544353680694969322.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-544353680694969322.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-544353680694969322.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-544353680694969322.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-544353680694969322.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-544353680694969322.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-544353680694969322.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-544353680694969322.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-544353680694969322.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-544353680694969322.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-544353680694969322.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-544353680694969322.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-544353680694969322.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-544353680694969322.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-544353680694969322.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-544353680694969322.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-544353680694969322.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-544353680694969322.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-544353680694969322.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-544353680694969322.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-544353680694969322.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-544353680694969322.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-544353680694969322.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-544353680694969322.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-544353680694969322.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-544353680694969322.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-544353680694969322.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-544353680694969322.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-544353680694969322.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-544353680694969322.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-544353680694969322.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-544353680694969322.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-544353680694969322.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-544353680694969322.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-544353680694969322.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-544353680694969322.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-544353680694969322.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-544353680694969322.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-544353680694969322.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-544353680694969322.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-544353680694969322.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-544353680694969322.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-544353680694969322.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-544353680694969322.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-544353680694969322.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-544353680694969322.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-544353680694969322 .gp-relative{position:relative}.gps-544353680694969322 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-544353680694969322 .gp-mb-0{margin-bottom:0}.gps-544353680694969322 .gp-flex{display:flex}.gps-544353680694969322 .gp-grid{display:grid}.gps-544353680694969322 .gp-contents{display:contents}.gps-544353680694969322 .\!gp-hidden{display:none!important}.gps-544353680694969322 .gp-hidden{display:none}.gps-544353680694969322 .gp-h-full{height:100%}.gps-544353680694969322 .gp-w-full{width:100%}.gps-544353680694969322 .gp-max-w-full{max-width:100%}.gps-544353680694969322 .gp-flex-col{flex-direction:column}.gps-544353680694969322 .gp-gap-y-0{row-gap:0}.gps-544353680694969322 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-544353680694969322 .gp-duration-200{transition-duration:.2s}.gps-544353680694969322 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-544353680694969322 .tablet\:\!gp-hidden{display:none!important}.gps-544353680694969322 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-544353680694969322 .mobile\:\!gp-hidden{display:none!important}.gps-544353680694969322 .mobile\:gp-hidden{display:none}}.gps-544353680694969322 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-544353680694969322 .\[\&_p\]\:gp-inline p{display:inline}.gps-544353680694969322 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-544353680694969322 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gZUij5G1JB" data-id="gZUij5G1JB"
        style="--blockPadding:base;--pt:20px;--pb:20px;--pt-mobile:20px;--pb-mobile:20px;--pt-tablet:20px;--pb-tablet:20px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F4F4F4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZUij5G1JB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gxfilUtEr4 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gvra6_CkJi">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gvra6_CkJi "
        style="--ta:center;--mb:15px;--mb-tablet:15px;--pl-tablet:20px;--pr-tablet:20px;--mb-mobile:5px;--pl-mobile:20px;--pr-mobile:20px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--ts:none;--ta:center;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:32px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggvra6_CkJi_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="gvnGaZlwlo"
    role="presentation"
    class="gp-group/image gvnGaZlwlo"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_470337726575543518-c5333ed4-b2a2-4b83-892f-529670eb89f6_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTM3IiBoZWlnaHQ9IjEyMTciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTkzNy0xMjE3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5MzciIGhlaWdodD0iMTIxNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTM3IiBoZWlnaHQ9IjEyMTciIGZpbGw9InVybCgjZy05MzctMTIxNykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTkzNyIgdG89IjkzNyIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_470337726575543518-c5333ed4-b2a2-4b83-892f-529670eb89f6_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTM3IiBoZWlnaHQ9IjEyMTciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTkzNy0xMjE3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5MzciIGhlaWdodD0iMTIxNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTM3IiBoZWlnaHQ9IjEyMTciIGZpbGw9InVybCgjZy05MzctMTIxNykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTkzNyIgdG89IjkzNyIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTM3IiBoZWlnaHQ9IjEyMTciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTkzNy0xMjE3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5MzciIGhlaWdodD0iMTIxNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTM3IiBoZWlnaHQ9IjEyMTciIGZpbGw9InVybCgjZy05MzctMTIxNykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTkzNyIgdG89IjkzNyIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg=="
        data-src="{{ "gempages_470337726575543518-c5333ed4-b2a2-4b83-892f-529670eb89f6.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:75px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-544353680694969322 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/weargales/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=539674335384699808&sectionId=544353680694969322)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggvra6_CkJi_text","label":"ggvra6_CkJi_text","default":"<strong>The American Podiatric Medical Association</strong> recognizes <strong>STAND+</strong> shoes as beneficial to promoting foot health.&nbsp;"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
