

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539674350198981536.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-539674350198981536.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539674350198981536.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539674350198981536.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539674350198981536.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539674350198981536.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539674350198981536.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539674350198981536.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539674350198981536.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539674350198981536.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539674350198981536.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-539674350198981536.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539674350198981536.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539674350198981536.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539674350198981536.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539674350198981536.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539674350198981536.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539674350198981536.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539674350198981536.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539674350198981536.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539674350198981536.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539674350198981536.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539674350198981536.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539674350198981536.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539674350198981536.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539674350198981536.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539674350198981536.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-539674350198981536.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-539674350198981536.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-539674350198981536.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539674350198981536.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539674350198981536.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-539674350198981536.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-539674350198981536.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-539674350198981536.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539674350198981536.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539674350198981536.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539674350198981536.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539674350198981536.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-539674350198981536 .-gp-translate-x-1\/2,.gps-539674350198981536 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-539674350198981536 .gp-visible{visibility:visible}.gps-539674350198981536 .gp-invisible{visibility:hidden}.gps-539674350198981536 .gp-absolute{position:absolute}.gps-539674350198981536 .gp-relative{position:relative}.gps-539674350198981536 .gp-left-1\/2{left:50%}.gps-539674350198981536 .gp-top-1\/2{top:50%}.gps-539674350198981536 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539674350198981536 .gp-mb-0{margin-bottom:0}.gps-539674350198981536 .gp-flex{display:flex}.gps-539674350198981536 .gp-grid{display:grid}.gps-539674350198981536 .\!gp-hidden{display:none!important}.gps-539674350198981536 .gp-hidden{display:none}.gps-539674350198981536 .gp-h-full{height:100%}.gps-539674350198981536 .gp-w-\[68px\]{width:68px}.gps-539674350198981536 .gp-w-full{width:100%}.gps-539674350198981536 .\!gp-max-w-none{max-width:none!important}.gps-539674350198981536 .gp-max-w-full{max-width:100%}.gps-539674350198981536 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-539674350198981536 .-gp-translate-x-1\/2,.gps-539674350198981536 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-539674350198981536 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-539674350198981536 .gp-flex-col{flex-direction:column}.gps-539674350198981536 .gp-gap-y-0{row-gap:0}.gps-539674350198981536 .gp-overflow-hidden{overflow:hidden}.gps-539674350198981536 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-539674350198981536 .gp-bg-cover{background-size:cover}.gps-539674350198981536 .gp-bg-center{background-position:50%}.gps-539674350198981536 .gp-opacity-100{opacity:1}.gps-539674350198981536 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539674350198981536 .gp-duration-200{transition-duration:.2s}.gps-539674350198981536 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-539674350198981536 .tablet\:\!gp-hidden{display:none!important}.gps-539674350198981536 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-539674350198981536 .mobile\:\!gp-hidden{display:none!important}.gps-539674350198981536 .mobile\:gp-hidden{display:none}}.gps-539674350198981536 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539674350198981536 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-539674350198981536 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-539674350198981536 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gLRw-YYYOR" data-id="gLRw-YYYOR"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:40px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:30px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:40px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLRw-YYYOR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSsJL9GB6N gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="gTQGGS0s8N"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gTQGGS0s8N"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--aspect:auto"
    >
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"auto"},"videoTitle":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/2ddDOBi-gTQ?autoplay=1&state=1&mute=1&&loop=1&playlist=2ddDOBi-gTQ&controls=1"}'>
      
      
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article gp_lazybg"
        data-title="Video"
        style="--bgi:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--aspect:auto"
      >
        
  <img
      id="gp-video-gTQGGS0s8N"
      
      draggable="false"
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
      data-src="{{ 'gempages_470337726575543518-a4853ba7-8681-4209-999f-ad4c971068bf.png' | file_url }}" data-srcset="{{ 'gempages_470337726575543518-a4853ba7-8681-4209-999f-ad4c971068bf.png' | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="Poster"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
        <button
          type="button"
          class="gp-absolute gp-top-1/2 gp-left-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100"
          aria-label="Play"
        >
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-youtube-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      <style id="custom-css-gTQGGS0s8N">
        .gTQGGS0s8N[data-component-label="Video"] {

}
      </style>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-539674350198981536 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/weargales/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=539674335384699808&sectionId=539674350198981536)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
