<footer id="footer" class="footer position-fixed bottom-0 w-100 p-20 text-center text-lg-left">
    <div class="footer__copyright">
        <p class="mb-0">
            {%- if section.settings.enable_custom -%}
                {% include 'parse-page-html-content' with default_page: 'include-footer-copyright-2' page_content: section.settings.page_content ignore_icons: true %}
            {%- else -%}
                {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}
            {%- endif -%}
        </p>
    </div>
</footer>


{% schema %}
{
"name": "Footer",
"settings": [
{
"type": "checkbox",
"id": "enable_custom",
"label": "Enable custom copyright",
"default": true
},
{
"type": "page",
"id": "page_content",
"label": "Page content for copyright",
"info": "Default page: 'Include Footer Copyright #2'"
}
]
}
{% endschema %}


