<!-- snippets/wholesale-multiship.liquid -->
{% assign tags = customer.tags | join: "," | downcase %}
<div class="container">
    {% if tags contains "wholesale" %}
        <div class="loggedin">
            <div class="d-flex justify-content-center">
                <p>Download template and fill out ALL information fields.</p>
            </div>
            <div class="d-flex justify-content-center">
                <a href="https://cdn.shopify.com/s/files/1/0291/3724/0142/files/Gales_Multiple_Ship_Locations_Order_Template.xlsx?v=1664485540" 
                    Download class="btn">DOWNLOAD TEMPLATE</a>
            </div>
            <div class="d-flex justify-content-center mt-60 mb-40">
                <h4>Send completed Template to 
                    <a class="dottedline hoverfade" href="mailto:wholesale@weargales.com?subject=Wholesale Form Submission: Multiple Ship Locations">wholesale@weargales.com</a>
                </h4>
            </div>
        </div>
    {% endif %}
</div>

{% schema %}
{
    "name": "Wholesale Multiple Ship",
    "settings": [
    ],
    "presets": [
        {
            "name": "wholesale multiship",
            "category": "3) Static content"
        }
    ]
}
{% endschema %}