.sl-brandstyle-74ddb74f-178d-4e44-9baf-6e345d17ca83 .sl-font-style--title {
font-family: "Avenir Next";
font-weight: 800;
font-style: normal;
}
.sl-brandstyle-74ddb74f-178d-4e44-9baf-6e345d17ca83 .sl-font-style--body {
font-family: "Avenir Next";
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-74ddb74f-178d-4e44-9baf-6e345d17ca83 .sl-font-style--button {
font-family: "Avenir Next";
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-74ddb74f-178d-4e44-9baf-6e345d17ca83 .sl-font-style--label {
font-family: "Avenir Next";
font-weight: 800;
font-style: normal;
text-transform: uppercase;
}
.sl-pattern-e5ef1469-8d88-424c-9a63-583d48608d31 {
background-color: #f6f6f6;
border-style: none;
--sl-gv-bg-color: #f6f6f6;
--sl-gv-btn-txt-color: #0d0d0d;
--sl-gv-btn-bg-color: #f6f6f6;
}
.sl-pattern-e5ef1469-8d88-424c-9a63-583d48608d31 .sl-font-style--title { color: #0b0a0b; }
.sl-pattern-e5ef1469-8d88-424c-9a63-583d48608d31 .sl-font-style--body { color: #0d0d0d; }
.sl-pattern-e5ef1469-8d88-424c-9a63-583d48608d31 .sl-font-style--button { color: #0d0d0d; }
.sl-pattern-e5ef1469-8d88-424c-9a63-583d48608d31 .sl-font-style--label { color: #0d0d0d; }
.sl-pattern-e5ef1469-8d88-424c-9a63-583d48608d31 .sl-button--brand-style {
color: #0d0d0d;
background-color: #f6f6f6;
}
.sl-pattern-2f9670d4-4e25-4792-8cce-872655fadf54 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #0d0d0d;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-2f9670d4-4e25-4792-8cce-872655fadf54 .sl-font-style--title { color: #0d0d0d; }
.sl-pattern-2f9670d4-4e25-4792-8cce-872655fadf54 .sl-font-style--body { color: #0d0d0d; }
.sl-pattern-2f9670d4-4e25-4792-8cce-872655fadf54 .sl-font-style--button { color: #0d0d0d; }
.sl-pattern-2f9670d4-4e25-4792-8cce-872655fadf54 .sl-font-style--label { color: #0d0d0d; }
.sl-pattern-2f9670d4-4e25-4792-8cce-872655fadf54 .sl-button--brand-style {
color: #0d0d0d;
background-color: #ffffff;
}
.sl-pattern-43407e19-300b-4204-b06d-82bdff8b4e83 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-43407e19-300b-4204-b06d-82bdff8b4e83 .sl-font-style--title { color: #000000; }
.sl-pattern-43407e19-300b-4204-b06d-82bdff8b4e83 .sl-font-style--body { color: #000000; }
.sl-pattern-43407e19-300b-4204-b06d-82bdff8b4e83 .sl-font-style--label { color: #000000; }
.sl-pattern-43407e19-300b-4204-b06d-82bdff8b4e83 .sl-button--brand-style {
background-color: #ffffff;
}
.sl-pattern-bec241d5-e7eb-4411-b71d-f78b7dbd085a {
background-color: #e3e1d8;
border-style: none;
--sl-gv-bg-color: #e3e1d8;
--sl-gv-btn-txt-color: #0d0d0d;
--sl-gv-btn-bg-color: #e3e1d8;
}
.sl-pattern-bec241d5-e7eb-4411-b71d-f78b7dbd085a .sl-font-style--title { color: #0d0d0d; }
.sl-pattern-bec241d5-e7eb-4411-b71d-f78b7dbd085a .sl-font-style--body { color: #0d0d0d; }
.sl-pattern-bec241d5-e7eb-4411-b71d-f78b7dbd085a .sl-font-style--button { color: #0d0d0d; }
.sl-pattern-bec241d5-e7eb-4411-b71d-f78b7dbd085a .sl-font-style--label { color: #0d0d0d; }
.sl-pattern-bec241d5-e7eb-4411-b71d-f78b7dbd085a .sl-button--brand-style {
color: #0d0d0d;
background-color: #e3e1d8;
}
.sl-pattern-7c861881-4caa-4f2a-af09-9cbd9fa465ae {
background-color: #e8e8e8;
border-style: none;
--sl-gv-bg-color: #e8e8e8;
--sl-gv-btn-txt-color: #0d0d0d;
--sl-gv-btn-bg-color: #e8e8e8;
}
.sl-pattern-7c861881-4caa-4f2a-af09-9cbd9fa465ae .sl-font-style--title { color: #0d0d0d; }
.sl-pattern-7c861881-4caa-4f2a-af09-9cbd9fa465ae .sl-font-style--body { color: #0d0d0d; }
.sl-pattern-7c861881-4caa-4f2a-af09-9cbd9fa465ae .sl-font-style--button { color: #0d0d0d; }
.sl-pattern-7c861881-4caa-4f2a-af09-9cbd9fa465ae .sl-font-style--label { color: #0d0d0d; }
.sl-pattern-7c861881-4caa-4f2a-af09-9cbd9fa465ae .sl-button--brand-style {
color: #0d0d0d;
background-color: #e8e8e8;
}
.sl-pattern-d417cf91-0c1a-4917-9e71-d045e2777447 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #1a252b;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-d417cf91-0c1a-4917-9e71-d045e2777447 .sl-font-style--title { color: #1a252b; }
.sl-pattern-d417cf91-0c1a-4917-9e71-d045e2777447 .sl-font-style--body { color: #1a252b; }
.sl-pattern-d417cf91-0c1a-4917-9e71-d045e2777447 .sl-font-style--button { color: #1a252b; }
.sl-pattern-d417cf91-0c1a-4917-9e71-d045e2777447 .sl-font-style--label { color: #1a252b; }
.sl-pattern-d417cf91-0c1a-4917-9e71-d045e2777447 .sl-button--brand-style {
color: #1a252b;
background-color: #ffffff;
}
.sl-pattern-039726dd-7383-4c27-965b-78880ebaad56 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #0d0d0d;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-039726dd-7383-4c27-965b-78880ebaad56 .sl-font-style--title { color: #e3e1d8; }
.sl-pattern-039726dd-7383-4c27-965b-78880ebaad56 .sl-font-style--body { color: #0d0d0d; }
.sl-pattern-039726dd-7383-4c27-965b-78880ebaad56 .sl-font-style--button { color: #0d0d0d; }
.sl-pattern-039726dd-7383-4c27-965b-78880ebaad56 .sl-font-style--label { color: #0d0d0d; }
.sl-pattern-039726dd-7383-4c27-965b-78880ebaad56 .sl-button--brand-style {
color: #0d0d0d;
background-color: #ffffff;
}
.sl-pattern-039726dd-7383-4c27-965b-78880ebaad56 .sl-button--button-style { border: 2px solid; }
.sl-pattern-431044c8-0b5e-4689-a8cd-2a4afd96bc4e {
background-color: #f17849;
border-style: none;
--sl-gv-bg-color: #f17849;
--sl-gv-btn-txt-color: #e3e1d8;
--sl-gv-btn-bg-color: #f17849;
}
.sl-pattern-431044c8-0b5e-4689-a8cd-2a4afd96bc4e .sl-font-style--title { color: #e3e1d8; }
.sl-pattern-431044c8-0b5e-4689-a8cd-2a4afd96bc4e .sl-font-style--body { color: #e3e1d8; }
.sl-pattern-431044c8-0b5e-4689-a8cd-2a4afd96bc4e .sl-font-style--button { color: #e3e1d8; }
.sl-pattern-431044c8-0b5e-4689-a8cd-2a4afd96bc4e .sl-font-style--label { color: #e3e1d8; }
.sl-pattern-431044c8-0b5e-4689-a8cd-2a4afd96bc4e .sl-button--brand-style {
color: #e3e1d8;
background-color: #f17849;
}
