@media (min-width: 925px) {
  .promobox--modification-1:hover .promobox__text-1 {
    color: var(--theme-primary);
  }
}

@media (min-width: 925px) {
  .promobox--modification-2:hover .promobox__bg {
    background-color: var(--theme-primary);
  }
}

@media (min-width: 925px) {
  .promobox--modification-2:hover .promobox__text-1,
  .promobox--modification-2:hover .promobox__text-2,
  .promobox--modification-2:hover .promobox__text-3 {
    color: var(--theme2);
  }
}
