{% include 'breadcrumbs' %}
<div class="page-compare mb-40">
    {%- if customer -%}
        {% include 'compare' %}
    {%- else -%}
        <script>
            window.location.href = '/account/login';
        </script>
    {%- endif -%}
</div>